<div ng-include="'components/navbar/navbar.html'"></div>

<md-content id="content" class="large md-whiteframe-z3" style="padding: 2%;">
  <h1>Administration</h1>
  
  <div>
    <md-input-container>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container>
  </div>
  
  <div layout="row">
    <md-content flex layout="column" class="md-whiteframe-z2" style="margin: 0 2px;">
       <md-toolbar>
         <h2 class="md-toolbar-tools" layout="row" layout-align="space-between center">
           <span>Waivers</span>
           <md-button ng-click="refresh('waiver')"><img src="assets/material-icons/core/refresh.svg"/></md-button>
         </h2>
      </md-toolbar>
      <md-card ng-repeat="waiver in waivers.waivers | orderBy:'-date' | filter:search" ng-class="{'md-warning': waiver.viewed}">
        <md-card-content>
          <h4>{{waiver.firstName}} {{waiver.lastName}}</h4>
          <div>
            <md-button class="md-primary md-raised" ng-click="view(waiver, 'waiver')">
              View
            </md-button>
            <md-button class="md-accent md-raised" ng-click="delete(waiver, 'waiver')">
              Delete
            </md-button>
            <md-button class="md-warning md-raised" ng-click="viewed(waiver, 'waiver')" ng-hide="waiver.viewed">
              Mark As Viewed
            </md-button>
          </div>          
        </md-card-content>
      </md-card>      
    </md-content>
    
    <md-content flex layout="column" class="md-whiteframe-z2" style="margin: 0 2px;">
      <md-toolbar>
         <h2 class="md-toolbar-tools" layout="row" layout-align="space-between center">
           <span>Media Consents</span>
           <md-button ng-click="refresh('mediaConsent')"><img src="assets/images/yeoman.png"/></md-button>
         </h2>
      </md-toolbar>
      <md-card ng-repeat="waiver in waivers.mediaConsents | orderBy:'-date' | filter:search"  ng-class="{'md-warning': waiver.viewed}">
        <md-card-content>
          <h4>{{waiver.firstName}} {{waiver.lastName}}</h4>
          <div>
            <md-button class="md-primary md-raised" ng-click="view(waiver, 'mediaConsent')">
              View
            </md-button>
            <md-button class="md-accent md-raised" ng-click="delete(waiver, 'mediaConsent')">
              Delete
            </md-button>
            <md-button class="md-warning md-raised" ng-click="viewed(waiver, 'mediaConsent')" ng-hide="waiver.viewed">
              Mark As Viewed
            </md-button>
          </div>          
        </md-card-content>
      </md-card>       
    </md-content>
    
    <md-content layout="column" class="md-whiteframe-z2" style="margin: 0 2px;">
      <md-toolbar>
         <h2 class="md-toolbar-tools" layout="row" layout-align="space-between center">
           <span>Media Releases</span>
           <md-button ng-click="refresh('mediaRelease')"><img src="assets/material-icons/core/refresh.svg"/></md-button>
         </h2>
      </md-toolbar>
      <md-card ng-repeat="waiver in waivers.mediaReleases | orderBy:'-date' | filter:search" ng-class="{'md-warning': waiver.viewed}">
        <md-card-content>
          <h4>{{waiver.firstName}} {{waiver.lastName}}</h4>
          <div>
            <md-button class="md-primary md-raised" ng-click="view(waiver, 'mediaRelease')">
              View
            </md-button>
            <md-button class="md-accent md-raised" ng-click="delete(waiver, 'mediaRelease')">
              Delete
            </md-button>
            <md-button class="md-warning md-raised" ng-click="viewed(waiver, 'mediaRelease')" ng-hide="waiver.viewed">
              Mark As Viewed
            </md-button>
          </div>          
        </md-card-content>
      </md-card> 
    </md-content>
  </div>
  
</md-content>
