<md-content id="content" class="small md-whiteframe-z3" style="padding: 2%;">
  <h1>Change Password</h1>

  <form class="form" name="form" ng-submit="changePassword(form)" novalidate>
    
    <md-input-container>
      <label>Current Password</label>
      <input type="password" name="password"  ng-model="user.oldPassword" mongoose-error/>
      <p class="help-block" ng-show="form.password.$error.mongoose">
        {{ errors.other }}
      </p>
    </md-input-container>

    <md-input-container>
      <label>New Password</label>
      <input type="password" name="newPassword" ng-model="user.newPassword" ng-minlength="3" required/>
      <p class="help-block"
         ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
        Password must be at least 3 characters.
      </p>
    </md-input-container>

    <p class="help-block"> {{ message }} </p>
       
    <div layout="row" layout-align="end">
      <md-button type="submit" class="md-primary">Save changes</md-button>          
    </div>

  </form>
</md-content>


