<div class="signature-background">  
  <div class="signature" ng-style="{height: signatureHeight, width: signatureWidth}" >
    <canvas class="md-whiteframe-z1" ng-hide="disableSubmit"></canvas>
    <img ng-show="disableSubmit" ng-src="signature.dataUrl"/>
  </div>
  <br>
  <md-divider md-inset></md-divider>
  <div layout="row" layout-align="end end">
    <md-button ng-click="erase()">
      Erase
    </md-button>
    <md-button ng-click="empty()">
      Clear  
    </md-button>
    <md-button class="md-primary" ng-click="accept()" ng-disabled="disableSubmit">
      Submit  
    </md-button>  
  </div>
</div>
