<md-content id="content" class="md-whiteframe-z3" style="padding: 2%;">
  <h1>Riddle Room Waiver Form</h1>

  <p>In ac ultrices mauris. Nullam mollis ultrices molestie. Pellentesque egestas, nulla id convallis imperdiet, justo tortor eleifend velit, sed lacinia neque nibh eu felis. Quisque volutpat quam in risus semper, a luctus ante sagittis. Proin dui ante, sollicitudin a sodales consectetur, ullamcorper non turpis. Ut eget consequat nisl. Integer aliquam faucibus rhoncus. Sed sem ex, faucibus et ornare vitae, venenatis et enim.</p>

  <p>Vestibulum ultricies nisi in fringilla auctor. Duis sed aliquet ipsum. Morbi turpis est, posuere non scelerisque at, auctor id nulla. Mauris feugiat magna sit amet metus convallis dignissim in eu velit. Vivamus ut euismod neque. Curabitur lobortis nulla faucibus, malesuada tellus porta, pulvinar libero. Cras venenatis auctor condimentum. Vivamus risus arcu, pretium a ultricies ac, eleifend eget nunc. Sed sollicitudin nunc magna, eu iaculis risus semper ut. Vestibulum vestibulum mauris ipsum, in fringilla turpis tempor in. Nulla suscipit laoreet libero, sed blandit metus consectetur sit amet. Duis scelerisque tempus leo sed pellentesque. Etiam nec facilisis magna. Vivamus tristique nulla tellus, sit amet elementum ipsum malesuada vitae.</p>

  <p>Aliquam accumsan neque libero, vel molestie erat molestie quis. Aliquam sed elit porttitor, hendrerit justo ac, tincidunt est. Duis ut eros non leo interdum tempor eget et velit. In dictum ante elit, id mollis tortor rhoncus id. Sed tristique laoreet velit lacinia placerat. Phasellus eget dapibus ex. Etiam purus ante, sodales vitae ligula id, sagittis molestie nulla. Curabitur ullamcorper massa in justo euismod consectetur.</p>

  <p>Nulla facilisi. Ut turpis enim, efficitur id venenatis nec, lacinia quis leo. Curabitur vehicula sagittis nunc a tristique. Nulla leo est, volutpat vel lorem vitae, imperdiet tempor erat. Sed urna metus, rutrum id eros nec, fermentum malesuada sapien. Cras ultricies lacus in lacus sagittis lacinia. Nam efficitur auctor felis nec consectetur.</p>

  <p>Suspendisse ut tellus pulvinar, efficitur diam porta, interdum ante. Vivamus vestibulum non odio in posuere. Morbi viverra consectetur massa, at imperdiet magna rhoncus nec. Nam quis lacus cursus, interdum massa quis, dapibus nibh. Aliquam fringilla odio auctor, rutrum neque at, pretium nisl. Quisque mattis pellentesque elit porta lacinia. Ut maximus iaculis venenatis.</p>

  <p>Sed scelerisque efficitur dictum. Maecenas finibus ultricies lacus, sit amet pellentesque enim mollis sit amet. Vestibulum tempus erat at imperdiet pulvinar. Aliquam in mauris eu sem volutpat iaculis. Ut finibus luctus vulputate. Proin eget nisi sit amet arcu ultricies tristique. Quisque quis porttitor magna. Aenean non pulvinar velit, eu rutrum tortor.</p>

  <form name="waiverForm">
    <div layout="row">      
      <md-input-container flex>
        <label for="firstName">First Name</label>
        <input ng-model="user.firstName" name="firstName" required>
      </md-input-container>
      <md-input-container flex>
        <label for="lastName">Last Name</label>
        <input ng-model="user.lastName" name="lastName" required>
      </md-input-container>
    </div>
    <div layout="row">
      <span>Signed on</span>
      <md-select class="inline" ng-model="user.signDay" placeholder="day">
        <md-option ng-value="day" ng-repeat="day in days">{{ day }}</md-option>
      </md-select>
      <span> day of </span>
      <md-select class="inline" ng-model="user.signMonth" placeholder="month">
        <md-option ng-value="month" ng-repeat="month in months">{{ month }}</md-option>
      </md-select>
      <span>, </span>
      <md-select class="inline" ng-model="user.signYear" placeholder="year">
        <md-option ng-value="year" ng-repeat="year in years">{{ year }}</md-option>
      </md-select>
    </div>
    <div layout="row">
      <div flex>
         <div signature-pad signature="user.signature"></div>
      </div>
    </div>
  </form>
</md-content>