<md-content id="content" class="md-whiteframe-z3" style="padding: 2%;">
  <h1>Riddle Room Waiver Form</h1>

  <p>In ac ultrices mauris. Nullam mollis ultrices molestie. Pellentesque egestas, nulla id convallis imperdiet, justo tortor eleifend velit, sed lacinia neque nibh eu felis. Quisque volutpat quam in risus semper, a luctus ante sagittis. Proin dui ante, sollicitudin a sodales consectetur, ullamcorper non turpis. Ut eget consequat nisl. Integer aliquam faucibus rhoncus. Sed sem ex, faucibus et ornare vitae, venenatis et enim.</p>


  <form name="waiverForm">
    <div layout="row">
      <md-input-container flex>
        <md-checkbox ng-model="user.agreed" name="agreed" ng-required="true">
          I agree with the terms.
        </md-checkbox>
        <div ng-messages="waiverForm.agreed.$error" ng-show="submitAttempted && waiverForm.agreed.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
      
    <div layout="row">      
      <md-input-container flex>
        <label for="firstName">First Name</label>
        <input ng-model="user.firstName" name="firstName" required>
        <div ng-messages="waiverForm.firstName.$error" ng-show="submitAttempted && waiverForm.firstName.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label for="lastName">Last Name</label>
        <input ng-model="user.lastName" name="lastName" required>
        <div ng-messages="waiverForm.lastName.$error" ng-show="submitAttempted && waiverForm.lastName.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
    </div>
    <div layout="row">      
      <md-input-container flex>
        <label for="date">Date</label>
        <input ng-model="user.date" name="date" type="date" required>
        <div ng-messages="waiverForm.date.$error" ng-show="submitAttempted && waiverForm.date.$error.required">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>      
    </div>
    <div layout="column">
      <md-input-container>
        <label>Signature</label>        
      </md-input-container>      
      <div signature-pad signature="signature" clear="clear()" close="submit()"></div>
    </div>
    
    
  </form>
</md-content>